
body {
  display: grid;
  grid-template-columns: auto -1px; 
}
.container-top {
  --offset: 100px;
  --fade: 80px;
  
  display: flex;
  align-items: flex-end;
  width: 60px;
  justify-self: end;
  justify-content: flex-end;
  -webkit-mask:linear-gradient(#0000 calc(100vh + var(--offset)),#000 calc(100vh + var(--offset) + var(--fade)));
}

.top {
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  
  /* visual styling */
  width:100%;
  aspect-ratio:1;
  background:#ff8b24;
  border-radius:10px;
}
.top:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}



/*Floating Back-To-Top Button*/
#backtotop-btn {
  position: fixed;
  bottom: 100px;
  float: right;
  right: 10%;
  left: 90%;
  max-width: 50px;
  width: 100%;
  font-size: 13px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100,100,100);
  padding: .5px;
  border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: #7dbbf1;
}
